@font-face {
    font-family: 'UTMAvoBold_Italic';
    src: url('../fonts/UTMAvoBold_Italic.eot');
    src: url('../fonts/UTMAvoBold_Italic.eot') format('embedded-opentype'),
         url('../fonts/UTMAvoBold_Italic.woff2') format('woff2'),
         url('../fonts/UTMAvoBold_Italic.woff') format('woff'),
         url('../fonts/UTMAvoBold_Italic.ttf') format('truetype'),
         url('../fonts/UTMAvoBold_Italic.svg#UTMAvoBold_Italic') format('svg');
}


*{
	margin :0;
	padding: 0;
}


body{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.max-with-menu{
	max-width: 1242px;
}
.coca-menu-top{
	/*background-color:#e6202d;
	margin:0 auto;
	float: none;*/

	margin: 0 auto;
    float: none;
    text-align: center;
}
.coca-menu-top li{
	float: none;
	display: inline-block;
    background-color: #e6202d;
    margin-left: -4px;
    height: 48px;
}


.coca-menu-top a{
	text-transform: uppercase;
	font-size: 16px;
	font-family:"UTMAvoBold_Italic";
	color: #ffffff !important;
}
.coca-menu-top li.active a{
	background-color: transparent !important;
}
.color-none{
	border-color: transparent;
    background-color: transparent;
}

.coca-menu-top li:first-child:before {
    background: url(../images/background-coner-left.png) no-repeat;
    content: "";
    top: 0px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: -107px;
    z-index: 0;
}
.coca-menu-top li:last-child{
	background-color: transparent;
}
.coca-menu-top li:last-child a{
	color: #545454 !important;
	text-decoration: underline;
    text-transform: capitalize;

}
.coca-menu-top li:last-child:before {
    background: url(../images/background-coner-right.png) no-repeat;
    content: "";
    top: 0px;
    position: absolute;
    width: 210px;
    height: 50px;
    right: -80px;
    z-index: 0;
}