@font-face {
    font-family: 'UTMAvoBold_Italic';
    src: url('../fonts/UTMAvoBold_Italic.eot');
    src: url('../fonts/UTMAvoBold_Italic.eot') format('embedded-opentype'),
         url('../fonts/UTMAvoBold_Italic.woff2') format('woff2'),
         url('../fonts/UTMAvoBold_Italic.woff') format('woff'),
         url('../fonts/UTMAvoBold_Italic.ttf') format('truetype'),
         url('../fonts/UTMAvoBold_Italic.svg#UTMAvoBold_Italic') format('svg');
}
@font-face {
    font-family: 'UTMAvoBold';
    src: url('../fonts/UTMAvoBold.eot');
    src: url('../fonts/UTMAvoBold.eot') format('embedded-opentype'),
         url('../fonts/UTMAvoBold.woff2') format('woff2'),
         url('../fonts/UTMAvoBold.woff') format('woff'),
         url('../fonts/UTMAvoBold.ttf') format('truetype'),
         url('../fonts/UTMAvoBold.svg#UTMAvoBold') format('svg');
}
@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo.eot');
    src: url('../fonts/UTMAvo.eot') format('embedded-opentype'),
         url('../fonts/UTMAvo.woff2') format('woff2'),
         url('../fonts/UTMAvo.woff') format('woff'),
         url('../fonts/UTMAvo.ttf') format('truetype'),
         url('../fonts/UTMAvo.svg#UTMAvo') format('svg');
}

*{
	margin :0;
	padding: 0;
}


body{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.max-with-menu{
	max-width: 1242px;
}
.coca-menu-top{
	/*background-color:#e6202d;
	margin:0 auto;
	float: none;*/

	margin: 0 auto;
    float: none;
    text-align: center;
}
.coca-menu-top li{
	float: none;
	display: inline-block;
    background-color: #e6202d;
    margin-left: -5px;
    height: 48px;
}


.coca-menu-top a{
	text-transform: uppercase;
	font-size: 16px;
	font-family:"UTMAvoBold_Italic";
	color: #ffffff !important;
    padding: 0 34px !important;
    height: 48px;
    line-height: 48px !important;
}
.coca-menu-top li.active a{
	background-color: transparent !important;
}
.color-none{
	border-color: transparent;
    background-color: transparent;
}
.coca-menu-top li:first-child{
    background: transparent;
}

.coca-menu-top li:first-child:before {
    background: url(../images/background-coner-left.png) no-repeat;
    content: "";
    top: 0px;
    position: absolute;
    width: 223px;
    height: 48px;
    left: -58px;
    z-index: 0;
}
.coca-menu-top li:last-child{
	background-color: transparent;
}
.coca-menu-top li:last-child a{
	color: #545454 !important;
	text-decoration: underline;
    text-transform: capitalize;

}
.coca-menu-top li:last-child:before {
    background: url(../images/background-coner-right.png) no-repeat;
    content: "";
    top: 0px;
    position: absolute;
    width: 223px;
    height: 48px;
    right: -61px;
    z-index: 0;
}

.coca-menu-top a span:before {
    background: rgba(0,0,0, .19);
    width: 100%;
    height: 27px;
    position: absolute;
    content: "";
    top: 8px;
    transform: skewX(21deg);
    left: 5px;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;

}
.coca-menu-top a span {
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
   
}
.coca-menu-top a:hover span,.coca-menu-top li.active a span{
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.coca-menu-top li:last-child a{
    left: 25px;
}

main.main-home {
    background: url(../images/people-background.png) no-repeat;
    padding-top:294px;
    background-position-x: -137px;
    min-height: 808px;
}

.title-main{
    font-family: "UTMAvoBold_Italic";
    font-size: 36.45px;
    color:#737373;
    text-transform: uppercase;
}
.content-width{
    max-width: 1200px;
    margin: 0 auto;
}
.clear{
    margin: 0;
    padding: 0;
}
.button-play{
    width: 228px;
    display: block;
    background-color: #e6202d;
    height: 54px;
    line-height: 54px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-family:  "UTMAvoBold_Italic";
    color: #ffffff;
    margin-top: 32px;
}
a.button-play:hover,a.button-play:link,a.button-play:visited,a.button-play:active {
    text-decoration: none;
    color: #ffffff;
}




.prize{
    margin-top: 85px;
}
.prize img{
    margin:auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.image-fixed{
    height: 157px;
    position: relative;
}
.info-article{
    text-align: center;
}
.title-articlee{
    font-family: "UTMAvoBold";
    color: #e6202d;
    font-size: 14px;
    text-transform: uppercase;
}
.description-article{
    font-family: "UTMAvo";
    color: #e6202d;
    font-size: 16px;
}
footer{
    background: url(../images/footer-backgound.png) no-repeat;
    min-height: 292px;
    background-position: bottom center;
    margin-top: -70px;
    position: relative;
}
.info-footer{
    margin:auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo-center{
    background: url(../images/logo-footer-center.png) no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 250px;
    height: 91px;
}
#signupbox .form-horizontal .control-label{
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    font-family: "UTMAvoBold";
}

#signupbox .panel-info>.panel-heading{
    background-color: #e6202d;
    border-color: transparent;

}
#signupbox .panel-title{
    font-family: "UTMAvoBold";
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}
#signupbox .panel-info{
    border: none;
}
#signupbox .panel{
    background-color: #e6202d;
}
#signupbox #btn-signup{
    font-size: 14px;
    font-family: "UTMAvoBold_Italic";
    color: #e6202d;
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: transparent;
    width: 217px;
    border-radius: 20px;

}
#signupbox .form-control{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}